<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- <ui:composition xmlns="http://www.w3.org/1999/xhtml" -->
<!--     xmlns:ui="http://java.sun.com/jsf/facelets" -->
<!--     xmlns:h="http://java.sun.com/jsf/html" -->
<!--     xmlns:f="http://java.sun.com/jsf/core" -->
<!--     xmlns:p="http://primefaces.org/ui" -->
<!--     template="/WEB-INF/layout/standard.xhtml"> -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/layout/standard.xhtml">
	<ui:define name="title"><h:outputText value="#{i18n['title']}" /></ui:define>
	<ui:define name="content">
	
		<h:form>
			<div style="max-width: 60%; height: auto; margin-left: 20%">
				<p:dataTable id="tableCursos" var="curso"
					value="#{cursoController.listCursos}" paginator="true" rows="5">
					<p:column headerText="#{i18n['cursos.content.form.name']}" sortBy="#{curso.nombreCurso}">
						<table>
							<tr>
								<td style="border: none"><h:outputLabel
										value="#{curso.nombreCurso}" /></td>
										
								<p:outputPanel rendered="#{curso.downloader}">
								
									<td style="border: none">
									
									<p:commandButton id="grow"
											ajax="false"
											icon="ui-icon-arrowthick-1-s" style="float:right">
											
											<p:fileDownload value="#{curso.file}" ajax="false"/>
											
									</p:commandButton> <p:tooltip id="toolTipGrow" for="grow"
											value="#{i18n['cursos.content.form.downloadDocumentation']}"/></td>
											
								</p:outputPanel>
							</tr>
						</table>
					</p:column>
					<p:column headerText="#{i18n['cursos.content.form.level']}">
						<h:outputText value="#{curso.nivelCursoCad}" />
					</p:column>
					<p:column headerText="#{i18n['cursos.content.form.hours']}">
						<h:outputText value="#{curso.horasCurso}" />
					</p:column>
				</p:dataTable>
			</div>

			<div style="margin-top: 50px; margin-left: 20%">
				<p:commandButton value="#{i18n['cursos.content.form.newCourse']}" action="nuevo" />
			</div>

		</h:form>
	</ui:define>
</ui:composition>