<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view contentType="text/html">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><h:outputText value="#{i18n['header']}" /></title>
	</h:head>
	<h:body>
		<h:form>
			<h:commandLink value="en" action="#{localeBean.setLanguage('en')}" />     | 
            <h:commandLink value="fr" action="#{localeBean.setLanguage('fr')}" />	  |
            <h:commandLink value="es" action="#{localeBean.setLanguage('es')}" />
		</h:form>
		<div class="container">
			<div>
				<h3 class="alt">
					<ui:insert name="title" />
				</h3>
				<hr />
			</div>
			<div>
				<ui:insert name="content" />
			</div>
		</div>
	</h:body>
</f:view>
</html>